.game {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.game__explication {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
}

.game__explication-title {
  font-size: 4rem;
  text-align: center;
  color: var(--color-white);
}

.game__description {
  font-size: 2rem;
  margin-top: 1rem;
  text-align: justify;
  color: var(--color-white);
}

.game__stats {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  width: 80%;
  margin: 1rem;
  padding: 1rem;
}

.game__score,
.game__time {
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--color-white);
}

.game__score-number,
.game__time-number {
  font-size: 3rem;
}

.game__grid {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  height: 50rem;
  background-color: rgba(var(--color-black-int), 0.3);
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 1rem;
}

.game__actions {
  width: 80%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__btn-play-again {
  display: none;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(var(--color-black-int), 0.3);
  color: var(--color-white);
  border: 0.1rem solid var(--color-white);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .game__explication {
    flex-flow: column wrap;
  }

  .game__grid {
    width: 60%;
  }
}
