.header-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10rem;
  border: 0.1rem solid var(--white-color);
  background: var(--secondary-color);
}

.header-wrapper__logo,
.header-wrapper__title {
  margin: 1rem;
}

.header-wrapper__logo-img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}

.header-wrapper__title-text {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: var(--white-color);
}

.game {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.game__information {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
}

.game__information-title {
  font-size: 4rem;
  text-align: center;
  color: var(--white-color);
}

.game__information-description {
  font-size: 2rem;
  margin-top: 1rem;
  text-align: justify;
  color: var(--white-color);
}

.game__stats {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  width: 80%;
  margin: 1rem;
  padding: 1rem;
}

.game__stats-score,
.game__stats-time {
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--white-color);
}

.game__stats-score-number,
.game__stats-time-number {
  font-size: 3rem;
}

.game__grid {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  height: 50rem;
  background-color: rgba(var(--black-int-color), 0.3);
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 1rem;
}

.game__grid-ceil {
  width: 20%;
  height: 20%;
  max-height: auto;
  border: 0.1rem solid var(--white-color);
}

.game__actions {
  width: 80%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__actions-play-again {
  display: none;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(var(--black-int-color), 0.3);
  color: var(--white-color);
  border: 0.1rem solid var(--white-color);
  cursor: pointer;
}

.rat {
  overflow-y: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .game__information {
    flex-flow: column wrap;
  }

  .game__grid {
    width: 60%;
  }
}
