*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
}

img{
    max-width: 100%;
}

body{
    width: 100%;
    height: 100%;
    background: #1E2749;
}


.header_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10rem;
    border: .1rem solid #fff;
    background: #273469;
}

    .h2{
        margin: 1rem;
    }

        .h2 h2{
            font-size: 3rem;
            letter-spacing: .2rem;
            color: #fff;
        }

        .h2 img {
            height: 10rem;
            width: 10rem;
            object-fit: cover;
        }

.section_container{
display: flex;
align-items: center;
flex-flow: row wrap;
justify-content: center;
width: 100%;
}

    .descripcion_container{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 1rem;
        padding: 1rem;
    }

        .descripcion_container h1{
            font-size: 4rem;
            text-align: center;
            color: #fff;
        }

        .descripcion_container p{
            font-size: 2rem;
            margin-top: 1rem;
            text-align: justify;
            color: #fff;
        }

    .counter_container{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: column wrap;
        width: 80%;
        margin: 1rem;
        padding: 1rem;
    }

        .counter_container p{
            font-size: 3rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: #fff;
        }

        #score{
            font-size: 3rem;
        }

        #time{
            font-size: 3rem;
        }

    .btns_container{
        width: 80%;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        #playAgain{
            display: none;
            font-size: 1.5rem;
            padding: 1rem;
            border-radius: 1rem;
            background-color: rgba(0,0,0,.3);
            color: white;
            border: .1rem solid #fff;
            cursor: pointer;
        }

    .grid{
        display: flex;
        flex-flow: row wrap;
        width: 80%;
        height: 50rem;
        background-color: rgba(0,0,0, 0.3);
        align-items: center;
        justify-content: center;
        align-content: center;
        margin: 1rem;
    }

        .grid div{
            width: 20%;
            height: 20%;
            max-height: auto;
            border: .1rem solid #fff;
        }

        .grid div img{
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        .rat{
            overflow-y: hidden;
        }

@media screen and (min-width: 768px){
    .descripcion_container{
        flex-flow: column wrap;
    }

    .grid{
        width: 60%;
    }

}